# Puerto HTTP de la aplicación
PORT=3000

# MongoDB local (MongoDB Compass: mongodb://localhost:27017)
MONGODB_URI=mongodb://127.0.0.1:27017/proa

# MongoDB Atlas (alternativa)
# MONGODB_URI=mongodb+srv://USUARIO:PASSWORD@cluster.mongodb.net/proa

# Seguridad
JWT_SECRET=change_this_secret
JWT_EXPIRES=8h

# production | development
NODE_ENV=development

# Solo para scripts/migrate-sqlserver-to-mongodb.ts (migración puntual de datos)
# SQLSERVER_HOST=10.10.1.6
# SQLSERVER_PORT=1433
# SQLSERVER_USER=sa
# SQLSERVER_PASSWORD=
# SQLSERVER_DATABASE=Proa_Form
